<div class="container">
  <div class="content-wrapper">
    <!-- Content -->
    <div class="content">
      <h1>Cập nhật phiên bản Mini App mới</h1>
      <p class="description">Hướng dẫn chi tiết quy trình cập nhật phiên bản Mini App mới trên nền tảng Super App</p>

      <!-- Main Image -->
      <div class="top-image">
        <img src="/assets/images/update-app.png" alt="Phát triển Mini App">
      </div>

      <h2>Mô tả quy trình cập nhật phiên bản Mini App mới</h2>
      <p>
        Quy trình cập nhật phiên bản Mini App mới bao gồm các bước sau, được thiết kế để đảm bảo chất lượng và tuân thủ
        các tiêu
        chuẩn của nền tảng:
      </p>

      <h3 id="step-1">Bước 1: Xây dựng phiên bản nâng cấp</h3>
      <p>Nhà phát triển Mini App thực hiện xây dựng phiên bản nâng cấp cho Mini App của mình</p>

      <h3 id="step-2">Bước 2: Triển khai thử nghiệm</h3>
      <p>Nhà phát triển Mini App tiến hành triển khai phiên bản của Mini App lên môi trường thử nghiệm, thay thế cho
        phiên bản Mini App cũ.
      </p>



      <h3 id="step-3">Bước 3: Kiểm tra chất lượng</h3>
      <p>Nhà phát triển Mini App thực hiện các bước kiểm tra cần thiết để đảm bảo chất lượng của phiên bản Mini App mới
        trước khi gửi đi xét duyệt</p>
      <h3 id="step-4">Bước 4: Gửi yêu cầu xét duyệt</h3>
      <p>Nhà phát triển tiến hành khởi tạo yêu cầu xét duyệt cho phiên bản Mini App </p>
      <h3 id="step-5">Bước 5: Quy trình xét duyệt</h3>
      <p> Super App thực hiện quy trình kiểm duyệt phiên bản Mini App theo yêu cầu của Nhà phát triển, việc kiểm duyệt
        phiên bản Mini App tương tự như quy trình <span class="link-text" (click)="navigateToReviewApp()">Kiểm duyệt Mini App</span></p>
      <h3 id="step-6">Bước 6: Cập nhật thông tin</h3>
      <p> Nếu phiên bản Mini App đáp ứng được các tiêu chí kiểm duyệt, Super App cấp phép phát hành phiên bản Mini App
        mới, thay thế cho phiên bản cũ trên bản Production để cung cấp các nâng cấp cải tiến mới của Mini App tới người
        dùng cuối.
        Quy trình phát hành phiên bản Mini App tương tự như quy trình <span class="link-text" (click)="navigateToReleaseApp()">Phát hành Mini App</span> </p>



    </div>

    <div class="anchor-sidebar">
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#step-1" nzTitle="Bước 1: Xây dựng phiên bản nâng cấp"></nz-link>
        <nz-link nzHref="#step-2" nzTitle="Bước 2: Triển khai thử nghiệm"></nz-link>
        <nz-link nzHref="#step-3" nzTitle="Bước 3: Kiểm tra chất lượng"></nz-link>
        <nz-link nzHref="#step-4" nzTitle="Bước 4: Gửi yêu cầu xét duyệt"></nz-link>
        <nz-link nzHref="#step-5" nzTitle="Bước 5: Quy trình xét duyệt"></nz-link>
        <nz-link nzHref="#step-6" nzTitle="Bước 6: Cập nhật thông tin"></nz-link>

      </nz-anchor>
    </div>
  </div>



</div>
