<div class="container">
  <div class="content-wrapper">
    <!-- Content -->
    <div class="content">
      <h1>Phát hành Mini App</h1>
      <p class="description">Hướng dẫn chi tiết quy trình phát hành Mini App trên nền tảng Super App</p>

      <!-- Main Image -->
      <div class="image-container">
        <img src="/assets/images/release-app.png" alt="Phát triển Mini App">
      </div>

      <h2>Mô tả quy trình phát hành Mini App</h2>
      <p>
        Quy trình phát hành Mini App bao gồm các bước sau, được thiết kế để đảm bảo chất lượng và tuân thủ các tiêu
        chuẩn của nền tảng:
      </p>

      <h3 id="step-1">Bước 1: Phê duyệt Mini App</h3>
      <p>Super App thực hiện phê duyệt Mini App sau quá trình kiểm duyệt và gửi thông báo phê duyệt tới Nhà phát triển</p>

      <h3 id="step-2">Bước 2: Cài đặt phát hành</h3>
      <p>Nhà phát triển Mini App thực hiện cài đặt phát hành Mini App trên bản Production, phát hành Mini App tới người dùng cuối.
        Ngoài ra,  Super App có thể toàn quyền thực hiện phát hành Mini App thay thế cho Nhà phát triển, đồng thời cũng có thể thực hiện thu hồi/dừng phát hành Mini App tới người dùng cuối khi xảy ra các vấn đề liên quan đến chất lượng Mini App.

      </p>



      <h3 id="step-3">Bước 3: Cập nhật thông tin</h3>
      <p> Super App phát hành Mini App lên bản Production theo cấu hình từ Nhà phát triển</p>
      <h3 id="step-4">Bước 4: Nhận thông báo</h3>
      <p>Nhà phát triển nhận thông báo phát hành Mini App thành công từ  Super App</p>


    </div>

    <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#step-1" nzTitle="Bước 1: Phê duyệt Mini App"></nz-link>
        <nz-link nzHref="#step-2" nzTitle="Bước 2: Cài đặt phát hành"></nz-link>
        <nz-link nzHref="#step-3" nzTitle="Bước 3: Cập nhật thông tin"></nz-link>
        <nz-link nzHref="#step-4" nzTitle="Bước 4: Nhận thông báo"></nz-link>

      </nz-anchor>
    </div>
  </div>


</div>
