<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1 id="step-1">Giảm thiểu nhập liệu đầu vào</h1>
      <p class="description">
        Thao tác nhập liệu tuy đơn giản và thuận tiện trên thiết bị di động, nhưng dễ mắc lỗi hơn so với khi sử dụng bàn phím và chuột vật lý do diện tích bàn phím trên thiết bị di động nhỏ và hay bị tắc nghẽn
      </p>
      <p>Do đó, bạn nên thiết kế xử lý đầu vào của người dùng bằng các tùy chọn thay thế, giảm các thao tác nhập thông tin thủ công như:</p>

      <div class="steps">

        <ul>
          <li>Sử dụng các API hiện có để tạo điều kiện cho người dùng nhập liệu và cải thiện hiệu suất như API vị trí địa lý (tìm gần nhất) hay API nhận dạng máy ảnh,...</li>
          <li>Yêu cầu máy chủ cung cấp dữ liệu để tự động điền vào một số dữ liệu có sẵn</li>
          <li>Cung cấp các tùy chọn được xác định trước hoặc được tạo tự động trong quá trình nhập.</li>
        </ul>

        <p>Bằng một trong các phương pháp trên, bạn có thể cải thiện đáng kể hiệu quả và độ chính xác nhập liệu của người dùng, đồng thời nâng cao hiệu suất và trải nghiệm người dùng</p>
        <div class="image-container">
          <img src="/assets/images/reduce-input.png" alt="Giảm thiểu nhập liệu đầu vào" />
        </div>
      </div>


    </div>

    <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#step-1" nzTitle="Giảm thiểu nhập liệu đầu vào"></nz-link>


      </nz-anchor>
    </div>
  </div>
</div>
