<div class="container">
  <div class="content-wrapper">
    <!-- Content -->
    <div class="content">
      <h1>Kiểm duyệt Mini App</h1>
      <p class="description">Hướng dẫn chi tiết quy trình kiểm duyệt Mini App trên nền tảng Super App</p>

      <!-- Main Image -->
      <div class="top-image">
        <img src="/assets/images/review-app.png" alt="Phát triển Mini App">
      </div>

      <h2>Mô tả quy trình kiểm duyệt Mini App</h2>
      <p>
        Quy trình phát triển Mini App bao gồm các bước sau, được thiết kế để đảm bảo chất lượng và tuân thủ các tiêu
        chuẩn của nền tảng:
      </p>

      <h3 id="step-1">Bước 1: Gửi yêu cầu kiểm duyệt</h3>
      <p>Nhà phát triển Mini App tham khảo và xem xét các tài liệu, công cụ do Nền tảng Super App cung cấp, bao gồm
        hướng dẫn phát triển và thiết kế, Mini API, Component Kits. Tài liệu được công khai và có thể được xem xét trước
        khi bắt đầu phát triển.</p>

      <h3 id="step-2">Bước 2: Xem xét nội dung</h3>
      <p>Super App tiến hành các quy trình đánh giá liên quan và xem xét nội dung để đảm bảo chất lượng của Mini App.
      </p>



      <h3 id="step-3-4-5">Bước 3, 4 & 5: Sửa lỗi</h3>
      <p>Nếu có bất kỳ lỗi nào, Super App sẽ gửi lỗi cho Nhà phát triển. Nhà phát triển sẽ cần sửa lỗi, thực hiện lại
        quy trình kiểm thử nội bộ Mini App và tạo lại yêu cầu xét duyệt Mini App sau khi hoàn tất sửa lỗi.</p>
      <h3 id="step-6">Bước 6: Duyệt Mini App</h3>
      <p>Nếu không có lỗi, Super App tiến hành duyệt Mini App.</p>
      <h3 id="step-7">Bước 7: Phát hành Mini App</h3>
      <p>Sau khi được phê duyệt, Super App sẽ tiến hành đưa Mini App vào danh mục chờ phát hành Mini App lên bản
        Production (công khai dành cho người dùng cuối).</p>

    </div>

    <div class="anchor-sidebar">
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#step-1" nzTitle="Bước 1: Gửi yêu cầu kiểm duyệt"></nz-link>
        <nz-link nzHref="#step-2" nzTitle="Bước 2: Xem xét nội dung"></nz-link>
        <nz-link nzHref="#step-3-4-5" nzTitle="Bước 3, 4 & 5: Sửa lỗi"></nz-link>
        <nz-link nzHref="#step-6" nzTitle="Bước 6: Duyệt Mini App"></nz-link>
        <nz-link nzHref="#step-7" nzTitle="Bước 7: Phát hành Mini App"></nz-link>

      </nz-anchor>
    </div>
  </div>


</div>
