<div class="container">
  <div class="content-wrapper">
    <!-- Nội dung chính -->
    <div class="content">
      <h1>Quy chuẩn về thiết kế Mini App</h1>

      <h3 id="step-1">Select Component</h3>
      <p>
        Select là component dùng để chọn một hoặc nhiều giá trị trong nhóm các lựa chọn.
      </p>
      <p>- Thuộc tính gồm:</p>

      <div class="table-container">
        <table class="component-table">
          <thead>
            <tr>
              <th>Thuộc tính</th>
              <th>Kiểu dữ liệu</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>extend</code></td>
              <td>ViewProps | any</td>
              <td>Thuộc tính mở rộng cho View</td>
            </tr>
            <tr>
              <td><code>padding</code></td>
              <td>NumberOrString | NumberOrString[]</td>
              <td>Khoảng cách padding</td>
            </tr>
            <tr>
              <td><code>paddingHorizontal</code></td>
              <td>number | string</td>
              <td>Khoảng cách ngang</td>
            </tr>
            <tr>
              <td><code>paddingVertical</code></td>
              <td>number | string</td>
              <td>Khoảng cách dọc</td>
            </tr>
            <tr>
              <td><code>paddingBottom</code></td>
              <td>number | string</td>
              <td>Khoảng cách phía dưới</td>
            </tr>
            <tr>
              <td><code>paddingTop</code></td>
              <td>number | string</td>
              <td>Khoảng cách phía trên</td>
            </tr>
            <tr>
              <td><code>paddingLeft</code></td>
              <td>number | string</td>
              <td>Khoảng cách trái</td>
            </tr>
            <tr>
              <td><code>paddingRight</code></td>
              <td>number | string</td>
              <td>Khoảng cách phải</td>
            </tr>
            <tr>
              <td><code>margin</code></td>
              <td>NumberOrString | NumberOrString[]</td>
              <td>Khoảng cách margin</td>
            </tr>
            <tr>
              <td><code>marginHorizontal</code></td>
              <td>number | string</td>
              <td>Margin ngang</td>
            </tr>
            <tr>
              <td><code>marginVertical</code></td>
              <td>number | string</td>
              <td>Margin dọc</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>Khai báo component</p>
      <div class="image-container">
        <div class="double-ui">
          <img src="/assets/images/usage-guide/select-results_1.png" alt="Hình minh họa Select Component" />
          <img src="/assets/images/usage-guide/select-results_2.png" alt="Hình minh họa Select Component" />
        </div>
             <p class="note-image">Hình: Mẫu kết quả Select component</p>
      </div>
    </div>

    <!-- Sidebar -->
     <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
    <nz-link nzHref="#step-1" nzTitle=" Select Component"></nz-link>

      </nz-anchor>
    </div>
  </div>
</div>
