<div class="container">
  <div class="content-wrapper">
    <!-- Nội dung chính -->
    <div class="content">
      <h1>Quy chuẩn về thiết kế Mini App</h1>

      <h3>Typography Component</h3>
      <p>
        Component cung cấp sẵn các typography gồm các font, font size tương ứng
      </p>
      <p>Thuộc tính gồm:</p>


      <p>Khai báo component</p>
      <div class="image-container">
        <img src="/assets/images/usage-guide/fonts.png" alt="Hình minh họa Typography Component" />
         <p class="note-image">Fonts</p>
        <img src="/assets/images/usage-guide/font-size.png" alt="Hình minh họa Typography Component" />
        <p class="note-image">Font Size</p>
      </div>
      </div>

    <!-- Sidebar -->
    <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <!-- Các anchor link -->
      </nz-anchor>
    </div>
  </div>
</div>
