<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1>Quy chuẩn về thiết kế Mini App</h1>
      <h3 id="step-1">Bottom tab Component</h3>
      <p>
        Bottom tab được sử dụng để điều hướng dễ dàng giữa các tuỳ chọn chức năng
        chính của ứng dụng, được thể hiện phía dưới màn hình ở dạng các tab hoặc
        biểu tượng.
      </p>
      <p>Danh sách thuộc tính Bottom tab Component gồm:</p>

      <div class="table-container">
        <table class="component-table">
          <thead>
            <tr>
              <th>Thuộc tính</th>
              <th>Kiểu dữ liệu</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>style</code></td>
              <td>StyleProps&lt;ViewStyle&gt;</td>
              <td></td>
            </tr>
            <tr>
              <td><code>name</code></td>
              <td>string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>code</code></td>
              <td>string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>component</code></td>
              <td>object</td>
              <td></td>
            </tr>
            <tr>
              <td><code>tabName</code></td>
              <td>string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>iconActive</code></td>
              <td>Number | {{ '{' }} url: string {{ '}' }}</td>
              <td></td>
            </tr>
            <tr>
              <td><code>iconInactive</code></td>
              <td>Number | {{ '{' }} url: string {{ '}' }}</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <p>Khai báo Component</p>
      <div class="image-container">
        <img src="/assets/images/usage-guide/bottom-tab-component.png" alt="Hình minh họa Image Component" />
      </div>
    </div>

       <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
    <nz-link nzHref="#step-1" nzTitle=" Button Tab Component"></nz-link>

      </nz-anchor>
    </div>
  </div>
</div>
