<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1>Thoả thuận</h1>

      <section>
        <h2 id="step-1">1. Khai báo thông tin chủ thể</h2>
        <p>Để tham gia chương trình Mini App Developer, đối tác cần thực hiện khai báo thông tin chủ sở hữu Mini App.</p>
      </section>

      <section>
        <h2 id="step-2">2. Đề nghị kiểm duyệt Mini App</h2>
        <ul>
          <li>Trước khi Mini App được phát hành, Mini App cần phải được kiểm duyệt bởi các nhân sự chuyên trách của (Chuyên viên đảm bảo chất lượng). Đối tác phát triển Mini App cần thực hiện các bước đề nghị kiểm duyệt và cung cấp thông tin về Mini App theo hướng dẫn tại đây.</li>
          <li>Trong một số trường hợp, ngoài những thông tin được cung cấp tại thời điểm đối tác đề nghị kiểm duyệt, chúng tôi có thể yêu cầu cung cấp thêm các tài liệu và chứng từ khác. Đối tác cam kết các thông tin cung cấp phải chính xác và là phiên bản mới nhất tại thời điểm cung cấp.</li>
          <li>Đối tác cam kết mô tả trung thực, chính xác về các tính năng thực tế của Mini App. Đối với Mini App có hệ thống tài khoản riêng thì tên đăng nhập và mật khẩu để test phải được cung cấp trong mô tả và bật tất cả các tính năng Mini App đối với tài khoản test này.</li>
          <li>Mỗi phiên bản cập nhật bao gồm nhưng không giới hạn tính năng, giao diện của Mini App đều phải được kiểm duyệt lại.</li>
          <li>Trong mọi trường hợp, có quyền đơn phương quyết định phê duyệt hoặc từ chối phát hành bất kỳ Mini App nào và chúng tôi sẽ không có nghĩa vụ giải trình lý do cho quyết định từ chối đó.</li>
        </ul>
      </section>

      <section>
        <h2 id="step-3">3. Tiêu chí kiểm duyệt Mini App</h2>
        <p>Chuyên viên đảm bảo chất lượng căn cứ các tiêu chí bao gồm nhưng không giới hạn sau đây để đánh giá khả năng được phát hành của Mini App. Trong một số trường hợp, nếu chúng tôi nhận thấy rằng Mini App đã được phát hành có dấu hiệu không tuân thủ pháp luật, chính sách hoặc nguyên tắc của chúng tôi mà không được khắc phục trong một khoảng thời gian hợp lý thì tuỳ theo mức độ nghiêm trọng, chúng tôi sẽ kích hoạt các chế tài xử lý vi phạm quy định tại Điều 7 Thỏa thuận này.</p>

        <h3 id="step-3-1">3.1. Logo Mini App</h3>
        <ul>
          <li>Tên, mô tả và biểu tượng nên nhất quán, liên kết với nhau, thể hiện được tính năng của Mini App</li>
          <li>Không chứa Nhãn hiệu đã đăng ký của bất kỳ doanh nghiệp nào khác mà không phải là chủ thể sở hữu Mini App hoặc chưa được sự chấp thuận bằng văn bản của chủ sở hữu Nhãn hiệu đó.</li>
          <li>Không chứa tên, biểu tượng của Mini App khác mà không được sự chấp thuận của chủ thể sở hữu Mini App đó.</li>
          <li>Không chứa Nội Dung vi phạm thuần phong mỹ tục hoặc bất kỳ nội dung nào khác bị cấm theo quy định của pháp luật.</li>
          <li>Tên Mini App không bao gồm từ khoá mơ hồ, khó phân biệt, gây nhầm lẫn.</li>
        </ul>
        <p>Tham khảo thiết kế Logo Mini App tại đây.</p>

        <h3 id="step-3-2">3.2. Header và Menu Bottom</h3>
        <p>Đối tác phát triển Mini App cần tuân thủ thiết kế Header và Menu Bottom do Super App cung cấp (tham khảo tại đây). Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Không sử dụng các nút mặc định (Chức năng thêm, Đóng) do Super App cung cấp.</li>
          <li>Không sử dụng thanh điều hướng đúng theo hướng dẫn của Super App (sẽ được cập nhật).</li>
          <li>Không cung cấp thông tin hỗ trợ khách hàng.</li>
        </ul>

        <h3 id="step-3-3">3.3. Đảm bảo trải nghiệm Người dùng cuối</h3>
        <p>Đối tác phát triển Mini App cam kết cung cấp trải nghiệm Người dùng một cách tối ưu nhất trong khuôn khổ chính sách về thiết kế giao diện Người dùng/trải nghiệm Người dùng được quy định tại đây.</p>

        <h3 id="step-3-4">3.4. API Quyền truy cập</h3>
        <p>Để Mini App có thể truy cập các tính năng (bao gồm nhưng không giới hạn truy cập camera trên thiết bị của người dùng, truy cập định vị GPS, …), thì Mini App cần phải được cấp quyền thông qua API, việc cấp quyền này cần thỏa mãn một số điều kiện sau:</p>
        <ul>
          <li>Chỉ cấp quyền cho Mini App đã được phát hành hoặc Mini App đang trong quá trình thẩm định, Mini App thử nghiệm sẽ không được cấp quyền.</li>
          <li>Các quyền yêu cầu cấp cho Mini App phải phù hợp với loại hình dịch vụ đã khai báo của Mini App.</li>
          <li>Mô tả về các quyền cần được cấp phải cụ thể, rõ ràng, thể hiện rõ hoàn cảnh, kịch bản sẽ sử dụng.</li>
          <li>Các API mang tính nhạy cảm (ví dụ: Location, Phone Number, Request Notification, …) chỉ nên được gọi khi có phát sinh hành động từ Người dùng cuối, không hiển thị một cách tùy tiện, tự động khi chưa có ngữ cảnh sử dụng cụ thể.</li>
          <li>Mini App không được yêu cầu Người dùng cuối giảm tính bảo mật của hệ điều hành thiết bị trước khi có thể sử dụng một số tính năng của Mini App.</li>
          <li>Mini App có tính năng theo dõi vị trí của Người dùng cuối phải cung cấp chức năng vô hiệu hoá theo dõi vị trí và phải có các hướng dẫn liên quan đến việc vô hiệu hoá này.</li>
          <li>Dữ liệu theo dõi vị trí chỉ có thể được sử dụng cho các tính năng liên quan trực tiếp đến giao dịch, dịch vụ được cung cấp thông qua Mini App.</li>
          <li>Mini App không được thay đổi các native user interface element (ví dụ: tăng giảm độ sáng/âm lượng)</li>
          <li>Mini App không được thu thập thông tin cá nhân, dữ liệu khác của Người dùng cuối trừ khi có thông báo minh bạch về đối tượng thu thập, phạm vi thu thập và phải được sự đồng ý của Người dùng cuối.</li>
          <li>Mini App sử dụng dữ liệu Người dùng cuối trong phạm vi quyền hạn được Người dùng cuối cấp. Mini App có thể yêu cầu thêm dữ liệu liên quan đến dịch vụ của mình (Ví dụ: Phương thức thanh toán, thông tin vận chuyển,…).</li>
        </ul>
        <p>Các trường hợp Mini App yêu cầu quyền dữ liệu sẽ bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Từ chối quyền truy cập vào Mini App trong trường hợp Người dùng cuối từ chối chia sẻ thông tin được yêu cầu.</li>
          <li>Yêu cầu lặp đi lặp lại cùng một thông tin trên các màn hình khác nhau.</li>
          <li>Tiếp tục thu thập và sử dụng thông tin Người dùng cuối sau khi Người dùng cuối tắt quyền đối với thông tin được yêu cầu.</li>
          <li>Không sử dụng thông tin được yêu cầu để hỗ trợ Người dùng cuối sử dụng Mini App. Ví dụ: yêu cầu vị trí nhưng không sử dụng nó trong bất kỳ trường hợp nào (đề xuất các cửa hàng lân cận, vị trí nhập tự động, v.v.)</li>
        </ul>

        <h3 id="step-3-5">3.5. Thông tin liên hệ</h3>
        <p>Việc hiển thị thông tin liên quan đến Nhà Phát Triển trên Mini App là bắt buộc, các thông tin hiển thị bao gồm:</p>
        <ul>
          <li>Tên gọi của pháp nhân cung cấp dịch vụ;</li>
          <li>Mô tả dịch vụ được cung cấp;</li>
          <li>Số phiên bản Mini App; và</li>
          <li>Phương thức hỗ trợ và tiếp nhận khiếu nại từ Người dùng cuối.</li>
        </ul>
        <p>Trường hợp Người dùng cuối cần hỗ trợ cho các vấn đề họ gặp phải, Mini App phải có cơ chế hiển thị rõ ràng các thông tin về đầu mối chăm sóc khách hàng hoặc bộ phận chuyên trách của Nhà Phát Triển.</p>

        <h3 id="step-3-6">3.6. Trình duyệt</h3>
        <p>Đường dẫn được đặt trong Mini App phải truy cập được từ các trình duyệt của bên thứ ba (Ví dụ Apple Safari; Google Chrome;…).</p>

        <h3 id="step-3-7">3.7. Tích hợp thanh toán</h3>
        <p>Nếu Mini App có khả năng Thanh toán, hãy đảm bảo quá trình thanh toán hoạt động. Để biết thêm thông tin, hãy tham khảo Quy trình tích hợp thanh toán. Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Sử dụng các phương thức thanh toán khác ngoài Money.</li>
          <li>Khi bấm vào nút chấp nhận thanh toán, giao dịch không thực hiện được hoặc không thành công.</li>
          <li>Số tiền giao dịch khác với giá hiển thị của sản phẩm.</li>
          <li>Không chuyển hướng đến Mini App để hiển thị chi tiết giao dịch sau khi hoàn tất thanh toán.</li>
        </ul>
        <p>Tuân theo nguyên tắc sử dụng thương hiệu Money của chúng tôi khi sử dụng hoặc hiển thị sản phẩm thanh toán Money (logo, biểu tượng, nhãn hiệu). Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Sử dụng logo cũ hoặc logo sự kiện.</li>
          <li>Thay đổi hình thức logo: xoay, bóp méo, biểu tượng trong suốt, màu sắc hoặc tông màu, v.v.</li>
        </ul>

        <h3 id="step-3-8">3.8. Hiệu suất ứng dụng</h3>
        <p>Mini App được gửi để đánh giá phải là phiên bản cuối cùng có thể mở và chạy bình thường. Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Bất kỳ Mini App nào bị treo hoặc khiến Ứng dụng Super App bị treo sẽ bị từ chối.</li>
          <li>Bất kỳ Mini App nào có lỗi lớn (không thể tải, quay lại các trang trước đó và thoát, giật nghiêm trọng, đóng băng, v.v.) sẽ bị từ chối.</li>
          <li>Tất cả các thành phần có thể tương tác không phản hồi bằng một hành động hoặc cảnh báo khi xảy ra lỗi.</li>
          <li>Hiển thị màn hình trắng không có linh kiện.</li>
        </ul>
        <p>Đảm bảo dữ liệu được tải thành công. Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Màn hình bị giới hạn và không tải được.</li>
          <li>Máy chủ không phản hồi và màn hình bị kẹt ở "Đang tải".</li>
          <li>Không có dữ liệu được tải.</li>
        </ul>

        <h3 id="step-3-9">3.9. Nội dung ứng dụng</h3>
        <p>Tránh hiển thị dữ liệu sản phẩm hoặc dịch vụ không liên quan. Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Màn hình sản phẩm và dịch vụ hiển thị mã hoặc dữ liệu chỉ được sử dụng cho mục đích phát triển.</li>
          <li>Các nút hoặc lời gọi hành động có các hành vi không khớp với tên của nút ấn.</li>
          <li>Thông báo lỗi không phản ánh đúng lỗi của ứng dụng.</li>
        </ul>

        <h3 id="step-3-10">3.10. Bảo mật ứng dụng</h3>
        <p>Đảm bảo rằng tất cả dữ liệu người dùng được xóa trong Mini App khi người dùng đăng xuất.</p>

        <h3 id="step-3-11">3.11. Hành vi cấm</h3>
        <p>Nghiêm cấm đối tác Nhà phát triển Mini App lợi dụng Dịch vụ để thực hiện một số hành vi bao gồm nhưng không giới hạn các hành vi sau:</p>

        <h4>3.11.1. Truyền tải các nội dung bị cấm</h4>
        <ul>
          <li>Nội dung chống lại Nhà nước Cộng hoà xã hội chủ nghĩa Việt Nam; gây ảnh hưởng đến an ninh quốc gia, trật tự, an toàn xã hội; phá hoại khối đại đoàn kết toàn dân; tuyên truyền chiến tranh xâm lược, khủng bố; gây hận thù, mâu thuẫn giữa các dân tộc, sắc tộc, chủng tộc, tôn giáo;</li>
          <li>Nội dung tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần phong, mỹ tục;</li>
          <li>Nội dung xuyên tạc, vu khống, xúc phạm uy tín của tổ chức, danh dự và nhân phẩm của cá nhân;</li>
          <li>Quảng bá, tuyên truyền, mua bán hàng hóa, dịch vụ bị cấm, truyền bá tác phẩm báo chí, văn học, nghệ thuật, xuất bản phẩm bị cấm;</li>
          <li>Tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác do pháp luật quy định;</li>
          <li>Nội dung khuyến khích mua các mặt hàng ảo, chẳng hạn như nội dung kỹ thuật số hoặc các hành vi giới thiệu hệ thống mua các vật phẩm ảo;</li>
          <li>Nội dung quấy rối, chửi bới, làm phiền hay có bất kỳ hành vi thiếu văn hoá;</li>
          <li>Nội dung vi phạm quyền sở hữu trí tuệ;</li>
          <li>Nội dung khuyến khích Người dùng cuối tải xuống các ứng dụng gốc hoặc mở các trang web để sử dụng các dịch vụ bên ngoài.</li>
          <li>Nội dung hoặc hành động vi phạm các chính sách, điều khoản và điều kiện và các tài liệu tương đương với các tài liệu được cung cấp bởi các nhà cung cấp nền tảng khác như Apple Inc. hoặc Google LLC;</li>
          <li>Nội dung hoặc hành động hỗ trợ hoặc thúc đẩy hành động tương ứng với bất kỳ nội dung nào ở trên;</li>
          <li>Nội dung bao gồm các diễn đạt xung đột với Thỏa thuận này;</li>
          <li>Các nội dung khác mà có quyền đơn phương đánh giá là không phù hợp.</li>
        </ul>

        <h4>3.11.2. Chuyển hướng URL</h4>
        <p>Nguyên tắc cơ bản là công việc bắt đầu trong Mini App phải được hoàn thành trên Mini App. Mini App cam kết không điều hướng Người dùng cuối đến các dịch vụ bên ngoài trừ việc phải trình bày thông tin mà người dùng phải hiểu (ví dụ: chính sách bảo mật, Điều khoản sử dụng dịch vụ,…) của Nhà Phát Triển.</p>

        <h4>3.11.3. Kiếm tiền và quảng cáo</h4>
        <ul>
          <li>Việc đặt quảng cáo trong và kiếm tiền dựa trên quảng cáo trong Mini App chỉ được thực hiện khi có sự chấp thuận của ;</li>
          <li>Nghiêm cấm hành vi mua, bán các vật phẩm ảo, nội dung kỹ thuật số</li>
        </ul>

        <h4>3.11.4. Các tính năng động</h4>
        <p>Đối tác phát triển Mini App cam kết hiển thị đầy đủ, minh bạch và đảm bảo hoạt động đúng cho các tính năng mà Người dùng cuối có thể trải nghiệm trên Mini App. Không được sử dụng iframe, API bật tắt, hoặc những cơ chế khác khiến thay đổi tính năng bên trong Mini App nhằm vượt qua quá trình kiểm duyệt của Mini App.</p>

        <h4>3.11.5. Gửi hoặc lưu dữ liệu sang nước ngoài</h4>
        <p>Đối tác phát triển Mini App cam kết không gửi hoặc lưu dữ liệu Người dùng Mini App sang nước ngoài theo quy định của pháp luật.</p>
      </section>

      <section>
        <h2 id="step-4">4. Yêu cầu về Mini App</h2>
        <h3 id="step-4-1">4.1. Yêu cầu ứng dụng</h3>
        <p>Tất cả các bước sử dụng chính của sản phẩm phải hoạt động chính xác trước khi gửi yêu cầu rollout. Các trường hợp Mini App bị từ chối bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Nếu không có sản phẩm nào trong ứng dụng, hoặc tất cả các sản phẩm đã được bán hết, việc kiểm tra không thể xác minh quá trình mua hàng.</li>
          <li>Địa chỉ cần điền khi mua hàng nhưng không có mục nào liên quan để điền trên trang.</li>
          <li>Không có nút gửi sau khi điền đầy đủ nội dung.</li>
          <li>Chức năng Hủy và Hoàn tiền hoạt động không chính xác.</li>
        </ul>

        <h3 id="step-4-2">4.2. Yêu cầu về Rolh3ut Request</h3>
        <p>Trong khi gửi yêu cầu rollout, hãy cung cấp dữ liệu thử nghiệm cần thiết trong biểu mẫu Rollout Request. Dữ liệu mẫu để cung cấp cho việc triển khai bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Tài khoản thử nghiệm: số/tên đăng nhập, mật khẩu đăng nhập.</li>
          <li>Dữ liệu liên quan đến các chiến dịch khuyến mãi: voucher, mã, v.v.</li>
          <li>Sản phẩm mẫu chỉ dùng để thử nghiệm.</li>
          <li>Trong trường hợp ứng dụng cần tương tác ngoại tuyến, hãy cung cấp đối tượng thử nghiệm ảo hoặc quay lại màn hình mô tả trường hợp tương tác thành công. Một số trường hợp cần tương tác offline là: quét mã QR, mua sản phẩm từ máy bán hàng tự động, tương tác với cửa hàng thu ngân không người, v.v.</li>
        </ul>

        <h3 id="step-4-3">4.3. Yêu cầuh3ề tài liệu</h3>
        <p>Cung cấp các tài liệu liên quan đến Mini App khi được yêu cầu. Các tài liệu mẫu bao gồm nhưng không giới hạn ở:</p>
        <ul>
          <li>Luồng thanh toán (sơ đồ, video).</li>
          <li>Luồng hoạt động.</li>
        </ul>

        <h3 id="step-4-4">4.4. Yêu cầu cập nhật ứng dụng</h3>
        <p>Trong khi yêu cầu rollout bản cập nhật ứng dụng mới, Mô tả rollout phải bao gồm:</p>
        <ul>
          <li>Các lỗi đã được khắc phục cho phiên bản hiện tại (nếu tồn tại).</li>
          <li>Các thay đổi so với các phiên bản trước.</li>
          <li>Các yêu cầu đặc biệt cần được lưu ý đối với Tester (thời gian hỗ trợ nhà phát triển, sự cố máy chủ, v.v.)</li>
        </ul>
      </section>

      <section>
        <h2 id="step-5">5. Sở hữu trí tuệ</h2>
        <ul>
          <li>Tất cả quyền Sở Hữu Trí Tuệ (bao gồm bản quyền) của/hoặc liên quan đến các nội dung, tư liệu, công nghệ, kỹ thuật, giải pháp để triển khai vận hành Platform thuộc quyền sở hữu toàn vẹn và duy nhất của .</li>
          <li>Các quyền sở hữu trí tuệ đối với Nội dung thuộc về Nhà Phát Triển hoặc Người dùng cuối hoặc bên nắm quyền hợp pháp khác. Các quyền này được bên nắm quyền cấp phép không độc quyền cho  khai thác không tính phí với phạm vi sử dụng trên toàn cầu nhằm duy trì, vận hành và phát triển Platform.
                    <li>Đối tác phát triển Mini App phải tự chịu trách nhiệm về tính hợp pháp và các trách nhiệm pháp lý liên quan đến các Nội dung xuất hiện trong Mini App.</li>
        <li>Đối tác phát triển Mini App cam kết rằng tất cả các yếu tố cấu thành Nội dung mà nhà phát triển khởi tạo đều là bản gốc do nhà phát triển sở hữu hoặc nhà phát triển được chủ sở hữu cấp quyền sử dụng.</li>
      </ul>
    </section>

    <section>
      <h2 id="step-6">6. Tranh chấp với bên thứ ba</h2>
      <p>Trường hợp phát sinh bất kỳ tranh chấp nào với bên thứ ba liên quan đến việc phát hành và vận hành Mini App (bao gồm nhưng không giới hạn ở việc vi phạm Điều 3 và Điều 5 của Thỏa thuận này), đối tác phát triển Mini App cam kết miễn trừ trách nhiệm cho <em>[Tên đơn vị]</em> và chịu mọi trách nhiệm giải quyết tranh chấp đó bằng chi phí của chính bạn.</p>
    </section>

    <section>
      <h2 id="step-7">7. Giải quyết khiếu nại</h2>

      <h3 id="step-7-1">7.1. Nguyên tắc xử lý vi phạm</h3>
      <p>Trường hợp đối tác phát triển Mini App vi phạm Thỏa Thuận này thì tùy theo mức độ nghiêm trọng của hành vi vi phạm, <em>[Tên đơn vị]</em> sẽ đơn phương và toàn quyền quyết định hình thức xử lý phù hợp dưới đây:</p>
      <ul>
        <li>Vô hiệu hoá Mini App chứa dấu hiệu vi phạm cho đến khi Chuyên viên đảm bảo chất lượng xác nhận vi phạm đã được khắc phục;</li>
        <li>Đình chỉ tư cách tham gia chương trình Mini App Developer có thời hạn hoặc vĩnh viễn, điều đó đồng nghĩa với việc (các) Mini App của bạn và Nội dung được khởi tạo thông qua (các) Mini App của bạn sẽ bị xóa bỏ.</li>
      </ul>

      <h3 id="step-7-2">7.2. Giải quyết tranh chấp, khiếu nại</h3>
      <ul>
        <li>Bất kỳ tranh chấp phát sinh trong quá trình thực hiện Thỏa thuận sẽ được giải quyết theo pháp luật hiện hành của nước Cộng hòa xã hội chủ nghĩa Việt Nam.</li>
        <li>Bất kỳ khiếu nại nào phát sinh trong quá trình tham gia thực hiện Thỏa thuận này phải được gửi đến <em>[Tên đơn vị]</em> ngay sau khi xảy ra sự kiện phát sinh khiếu nại:</li>
      </ul>

      <p><strong>Địa chỉ liên lạc:</strong></p>
      <ul>
        <li>Tổng Công ty Truyền thông -Media - Công ty Phát triển Phần mềm -Media Software</li>
        <li>Địa chỉ: 57A Huỳnh Thúc Kháng, phường Láng Hạ, Đống Đa, Hà Nội</li>
        <li>Email: </li>
      </ul>
      <ul>
        <li> sẽ căn cứ từng trường hợp cụ thể để có phương án giải quyết cho phù hợp. Khi thực hiện quyền khiếu nại, người khiếu nại có nghĩa vụ cung cấp các giấy tờ, bằng chứng, căn cứ có liên quan đến việc khiếu nại và phải chịu trách nhiệm về nội dung khiếu nại, giấy tờ, bằng chứng, căn cứ do mình cung cấp theo quy định pháp luật.</li>
        <li>Đối tác phát triển Mini App đồng ý bảo vệ, bồi hoàn và loại trừ  khỏi những nghĩa vụ pháp lý, tố tụng, tổn thất, chi phí bao gồm nhưng không giới hạn án phí, chi phí luật sư, chuyên gia tư vấn có liên quan đến việc giải quyết hoặc phát sinh từ sự vi phạm của đối tác phát triển.</li>
        <li>Mọi tranh chấp liên quan tới việc thực hiện Thỏa thuận này nếu không hòa giải được sẽ giải quyết tại Tòa án nhân dân có thẩm quyền.</li>
      </ul>
    </section>
    </div>

     <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#step-1" nzTitle="1. Khai báo thông tin chủ thể"></nz-link>
        <nz-link nzHref="#step-2" nzTitle="2. Đề nghị kiểm duyệt Mini App"></nz-link>
        <nz-link nzHref="#step-3" nzTitle="3. Tiêu chí kiểm duyệt Mini App">
          <nz-link nzHref="#step-3-1" nzTitle="3.1. Logo Mini App"></nz-link>
          <nz-link nzHref="#step-3-2" nzTitle="3.2. Header và Menu Bottom"></nz-link>
          <nz-link nzHref="#step-3-3" nzTitle="3.3. Đảm bảo trải nghiệm Người dùng cuối"></nz-link>
          <nz-link nzHref="#step-3-4" nzTitle="3.4. API Quyền truy cập"></nz-link>
          <nz-link nzHref="#step-3-5" nzTitle="3.6. Trình duyệt"></nz-link>
          <nz-link nzHref="#step-3-6" nzTitle="3.7. Tích hợp thanh toán"></nz-link>
          <nz-link nzHref="#step-3-7" nzTitle="3.8. Hiệu suất ứng dụng"></nz-link>
          <nz-link nzHref="#step-3-8" nzTitle="3.9. Nội dung ứng dụng"></nz-link>
          <nz-link nzHref="#step-3-9" nzTitle="3.10. Bảo mật ứng dụng"></nz-link>
          <nz-link nzHref="#step-3-10" nzTitle="3.11. Hành vi cấm"></nz-link>


        </nz-link>
        <nz-link nzHref="#step-4" nzTitle="4. Quy trình kiểm duyệt Mini App">
          <nz-link nzHref="#step-4-1" nzTitle="4.1. Yêu cầu ứng dụng"></nz-link>
          <nz-link nzHref="#step-4-2" nzTitle="4.2. Yêu cầu về Rollout Request"></nz-link>
          <nz-link nzHref="#step-4-3" nzTitle="4.3. Yêu cầu về tài liệu"></nz-link>
          <nz-link nzHref="#step-4-4" nzTitle="4.4. Yêu cầu cập nhật ứng dụng"></nz-link>
        </nz-link>
        <nz-link nzHref="#step-5" nzTitle="5. Sở hữu trí tuệ"></nz-link>
        <nz-link nzHref="#step-6" nzTitle="6. Tranh chấp với bên thứ ba"></nz-link>
        <nz-link nzHref="#step-7" nzTitle="7. Giải quyết khiếu nại">
          <nz-link nzHref="#step-7-1" nzTitle="7.1. Nguyên tắc xử lý vi phạm"></nz-link>
          <nz-link nzHref="#step-7-2" nzTitle="7.2. Giải quyết tranh chấp, khiếu nại"></nz-link>

        </nz-link>
      </nz-anchor>
    </div>
  </div>

</div>
