
<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1>Giới thiệu</h1>

      <section id="purpose" class="section">


        <div class="subsection">
          <h3>I. Mục đích</h3>
          <p>Nội dung tài liệu được chia thành 2 phần như sau:</p>
          <ul>
            <li><strong>Phần 1:</strong> Giới thiệu về tài liệu</li>
            <li><strong>Phần 2:</strong> Hướng dẫn phát triển Mini App trên hệ thống Mini App Center (MAC) dành cho đối tác là nhà phát triển Mini App</li>
          </ul>
        </div>

        <div class="subsection">
          <h3>II. Phạm vi tài liệu</h3>
          <p>Tài liệu này được sử dụng phục vụ cho người dùng là các đối tác - nhà phát triển Mini App trên hệ thống Super App. Tài liệu được xây dựng nhằm hỗ trợ người dùng sử dụng hệ thống Mini App Center và hướng dẫn phát triển Mini App trên hệ thống MAC một cách hiệu quả nhất.</p>
        </div>

        <div class="subsection">
          <h3>III. Bảng thuật ngữ viết tắt</h3>
          <div class="table-container">
            <table class="terminology-table">
              <thead>
                <tr>
                  <th>Thuật ngữ</th>
                  <th>Mô tả</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>MAC</strong></td>
                  <td>Mini App Center - Hệ thống quản lý và phát triển Mini App dành cho các đối tác</td>
                </tr>
                <tr>
                  <td><strong>NSD</strong></td>
                  <td>Người sử dụng</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>

    <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#purpose" nzTitle=" Giới thiệu"></nz-link>
        <nz-link nzHref="#purpose" nzTitle="I. Mục đích"></nz-link>
        <nz-link nzHref="#purpose" nzTitle="II. Phạm vi tài liệu"></nz-link>
        <nz-link nzHref="#purpose" nzTitle="III. Bảng thuật ngữ viết tắt"></nz-link>
      </nz-anchor>
    </div>
  </div>
</div>
