<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1>Quy chuẩn về thiết kế Mini App</h1>
      <h3 id="step-1">Loading Component</h3>
      <p>
        Loading Component là component hiển thị giao diện cho biết một tiến trình đang được thực hiện.
      </p>
      <p>- Loading Component gồm các thuộc tính:</p>

      <div class="table-container">
        <table class="component-table">
          <thead>
            <tr>
              <th>Thuộc tính</th>
              <th>Kiểu dữ liệu</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>style</code></td>
              <td>StyleProps&lt;ViewStyle&gt;</td>
              <td></td>
            </tr>
            <tr>
              <td><code>show</code></td>
              <td>bool | false</td>
              <td></td>
            </tr>
            <tr>
              <td><code>size</code></td>
              <td>'tiny' - 'small' - 'medium' - 'large'</td>
              <td></td>
            </tr>
            <tr>
              <td><code>padding</code></td>
              <td>NumberOrString hoặc NumberOrString[]</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingHorizontal</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingVertical</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingBottom</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingLeft</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingRight</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>margin</code></td>
              <td>NumberOrString hoặc NumberOrString[]</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>- Khai báo Component</p>
       <div class="image-container">
        <img src="/assets/images/usage-guide/loading-component.png" alt="Hình minh họa Toast Component" />
        <img src="/assets/images/usage-guide/loading-result.png" alt="Hình minh họa Toast Component" />
        <p class="note-image">Hình: Mẫu kết quả component</p>
      </div>
    </div>

   <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
    <nz-link nzHref="#step-1" nzTitle=" Loading Component"></nz-link>

      </nz-anchor>
    </div>
  </div>
</div>
