<div class="container">
  <div class="content-wrapper">
    <div class="content">
     <h1>Quy chuẩn về thiết kế Mini App</h1>
      <h3>TextInput Component</h3>
      <p>
        TextInput cho phép người dùng nhập thông tin dạng text và được sử dụng để gửi dữ liệu.
      </p>
      <p>Thuộc tính của TextInput Component:</p>


      <div class="table-container">
        <table class="component-table">
        <thead>
            <tr>
              <th>Tên thuộc tính</th>
              <th>Kiểu dữ liệu</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>extend TextInputProps</code></td>
              <td>any</td>
              <td></td>
            </tr>
            <tr>
              <td><code>extend ViewProps</code></td>
              <td>any</td>
              <td></td>
            </tr>
            <tr>
              <td><code>size(require)</code></td>
              <td>number</td>
              <td></td>
            </tr>
            <tr>
              <td><code>extend TextProps</code></td>
              <td>any</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>


       <div class="image-container">
            <img style="max-height: 400px;"  src="/assets/images/usage-guide/using-component.png" alt="Cách sử dụng">
            <p class="note-image">Hình: Cách sử dụng Component</p>
            <img src="/assets/images/usage-guide/result-input-text.png" alt="Kết quả Input Text Component">
            <p class="note-image">Hình: Mẫu kết quả sử dụng TextInput Component</p>
          </div>


    </div>

      <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
    <nz-link nzHref="#step-1" nzTitle=" TextInput Component"></nz-link>

      </nz-anchor>
    </div>
  </div>
</div>
