<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1>Quy chuẩn về thiết kế Mini App</h1>
      <h3 id="step-1">Text Component</h3>
      <p>Thẻ text dùng để hiển thị nội dung văn bản, và phải nằm trong các thẻ component khác. Thẻ text có những đặc
        điểm như sau:</p>
      <ul>
        <li>Có thể đặt lồng vào nhau</li>
        <li>Hỗ trợ Styling</li>
        <li>Các thẻ text gần nhau được trình bày trên cùng một hàng. Nếu muốn xuống hàng, bạn có thể dùng \n</li>
      </ul>
      <p>Thẻ text gồm các thuộc tính sau:</p>
      <div class="table-container">
        <table class="component-table">
          <thead>
            <tr>
              <th>Tên thuộc tính</th>
              <th>Kiểu dữ liệu</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>extend ViewProps</code></td>
              <td>any</td>
              <td></td>
            </tr>
            <tr>
              <td><code>size(require)</code></td>
              <td>number</td>
              <td>Kích thước</td>
            </tr>
            <tr>
              <td><code>extend TextProps</code></td>
              <td>any</td>
              <td>Mở rộng thành phần của văn bản</td>
            </tr>
            <tr>
              <td><code>padding</code></td>
              <td>NumberOrString<br>hoặc<br>NumberOrString []</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingHorizontal</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingVertical</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingBottom</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>number hoặc string</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingLeft</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>paddingRight</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
            <tr>
              <td><code>margin</code></td>
              <td>NumberOrString<br>hoặc<br>NumberOrString []</td>
              <td>Căn lề</td>
            </tr>
            <tr>
              <td><code>number hoặc string</code></td>
              <td>number hoặc string</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>Khai báo component</p>
       <div class="image-container">
            <img style="max-height: 300px;"  src="/assets/images/usage-guide/declaration-component.png" alt="Khai báo Component">
            <p class="note-image">Hình: Cấu trúc component Text</p>
            <img src="/assets/images/usage-guide/result-text.png" alt="Kết quả Text Component">
            <p class="note-image">Hình: Mẫu kết quả Text Component</p>
          </div>


    </div>

    <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
    <nz-link nzHref="#step-1" nzTitle=" Text Component"></nz-link>

      </nz-anchor>
    </div>
  </div>
</div>
