<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h1>Quy trình rõ ràng, tối ưu luồng trải nghiệm</h1>
      <p id="step-1" class="description">Khi người dùng thực hiện thao tác trên màn hình, cần nhanh chóng đưa người dùng đạt đến mục đích sử dụng dịch vụ. Tránh làm gián đoạn trải nghiệm người dùng với các nội dung, thành phần không liên quan đến quá trình vận hành, các sự kiện không mong muốn.
        </p>
      <div class="image-container">
        <img src="/assets/images/clear-process.png" alt="Quy trình rõ ràng, tối ưu luồng trải nghiệm">
      </div>
      <p>Khi sử dụng các cửa sổ bật lên (pop-up), cần lưu ý về tần suất hiển thị và cách thức hiển thị của cửa sổ để tránh gây khó chịu với người dùng.</p>
    </div>
    <div class="anchor-sidebar">
      <div class="sidebar-header">
        <h4>Nội dung trong trang</h4>
      </div>
      <nz-anchor [nzAffix]="false" [nzShowInkInFixed]="false">
        <nz-link nzHref="#step-1" nzTitle="Quy trình rõ ràng, tối ưu luồng trải nghiệm"></nz-link>

      </nz-anchor>
    </div>
  </div>
</div>
